@charset "utf-8";

@import "_root.scss";
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('../font/Pretendard-Black.woff2') format('woff2'), url('../font/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../font/Pretendard-ExtraBold.woff2') format('woff2'), url('../font/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../font/Pretendard-Bold.woff2') format('woff2'), url('../font/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../font/Pretendard-SemiBold.woff2') format('woff2'), url('../font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../font/Pretendard-Medium.woff2') format('woff2'), url('../font/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../font/Pretendard-Regular.woff2') format('woff2'), url('../font/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../font/Pretendard-Light.woff2') format('woff2'), url('../font/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('../font/Pretendard-ExtraLight.woff2') format('woff2'), url('../font/Pretendard-ExtraLight.woff') format('woff');
}

/* basic-reset */
*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
}

body::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
body::-webkit-scrollbar-thumb {
	background-color: #006a80;
	border-radius: 6px;
}
body::-webkit-scrollbar-track {
	background-color: transparent;
}

body {
	font-family:
		"Pretendard",
		"Roboto",
		Arial,
		Dotum,
		serif,
		-apple-system,
		BlinkMacSystemFont,
		system-ui,
		Roboto,
		"Helvetica Neue",
		"Segoe UI",
		"Apple SD Gothic Neo",
		"Noto Sans KR",
		"Malgun Gothic",
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		sans-serif;
	-webkit-text-size-adjust: none;
	font-weight: 500;
	line-height: 1.5;
	font-size: 14px;
	// color:;
	/*-webkit-touch-callout:none;-webkit-user-select:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);*/
	word-break: break-word;
	word-wrap: break-word;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button,
figure,
figcaption {
	margin: 0;
	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

summary {
	display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
}

fieldset,
img {
	border: 0 none;
	vertical-align: middle;
}

dl,
ul,
ol,
menu,
li {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

em {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea {
	overflow: auto;
	appearance: none;
	resize: vertical;
	font-size: 100%;
}

input,
select {
	appearance: none;
	font-family: inherit;
	border-radius: 0;
	font-size: 100%;
	outline: none;
}

button {
	font-family: inherit;
	font-size: 100%;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
	font-weight: inherit;
}

button[disabled],
input[disabled] {
	cursor: default;
}

caption {
	display: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
	font-style: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="email"] {
	appearance: none;
}

input:checked[type="checkbox"] {
	background-color: #666;
	appearance: checkbox;
}

input:checked[type="checkbox"] {
	appearance: checkbox;
}

input[type="search"] {
	appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	appearance: none;
}

button,
input {
	overflow: visible;
}

button,
[type="button"],
[type="submit"],
[type="reset"],
[type="file"] {
	appearance: button;
	border-radius: 0;
	cursor: pointer;
}

button {
	font-family: inherit;
	font-size: 100%;
}

input,
select,
textarea,
button,
pre {
	font-family: "Pretendard", "Open Sans", "Roboto", Arial, Dotum, serif;
}

input:focus,
textarea:focus {
	outline: none;
}

.hidden {
	font-size: 0;
	height: 0;
	width: 0;
}

// 공통 input focus border none
input {
	outline: none;
}

// 공통 pc mobile show hide
.pc-show {
	display: none;
}
.mo-show {
	display: block;
}

// 공통 header
.box-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.36) -22.4%, rgba(0, 0, 0, 0) 100%);
	background-blend-mode: multiply;
	z-index: 1000;
	.inner {
		display: flex;
		justify-content: space-between;
		padding: 18px 20px;
		.logo {
			background-size: contain;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='163' height='60' viewBox='0 0 163 60' fill='none'%3E%3Cg clip-path='url(%23clip0_153_2626)'%3E%3Cpath d='M76.8625 23.509H74.8164V33.542H76.8625V29.3369H79.1979V27.5659H76.8625V23.509Z' fill='white'/%3E%3Cpath d='M68.8209 29.3791C69.5758 31.0018 70.8952 32.2295 72.5603 32.8433L72.6238 32.8645L73.7033 31.2135L73.6045 31.1782C71.2903 30.3457 69.7945 28.3137 69.7945 25.9995V24.3767H67.7273V26.0559C67.7273 28.61 66.2033 30.7478 63.755 31.6298L63.6562 31.665L64.7569 33.3372L64.8204 33.316C66.6831 32.6175 68.0659 31.2558 68.8279 29.3791H68.8209Z' fill='white'/%3E%3Cpath d='M66.1719 40.442H76.861V34.1062H66.1719V40.442ZM74.8501 35.8207V38.7346H68.2039V35.8207H74.8501Z' fill='white'/%3E%3Cpath d='M90.8824 32.5188L90.7413 30.9595L90.6566 30.9736C88.9351 31.2135 87.0865 31.3193 85.6472 31.3828V28.229H83.6152V31.4463C82.4934 31.4604 81.3928 31.4604 80.4191 31.4604H80.3203L80.532 33.1326V33.2102H80.6166C83.2766 33.2102 87.2277 33.1396 90.8048 32.5329L90.8824 32.5188Z' fill='white'/%3E%3Cpath d='M88.1108 34.1838C84.5901 34.1838 82.4805 35.3903 82.4805 37.4082C82.4805 39.4261 84.583 40.6326 88.1108 40.6326C91.6385 40.6326 93.7763 39.4261 93.7763 37.4082C93.7763 35.3903 91.6597 34.1838 88.1108 34.1838ZM88.1108 38.9392C85.8601 38.9392 84.5689 38.3819 84.5689 37.4082C84.5689 36.4345 85.8601 35.8772 88.1108 35.8772C90.3615 35.8772 91.6879 36.4345 91.6879 37.4082C91.6879 38.3819 90.3826 38.9392 88.1108 38.9392Z' fill='white'/%3E%3Cpath d='M87.3684 29.9648L87.3543 30.0565L89.351 30.2399L89.3651 30.1623C89.7673 28.2009 89.7673 26.684 89.7673 25.5762V24.4756H81.3359V26.2254H87.7494C87.7282 27.2555 87.6647 28.4267 87.3684 29.9577V29.9648Z' fill='white'/%3E%3Cpath d='M93.6493 23.4878H91.582V34.1628H93.6493V29.7107H95.8365V27.9469H93.6493V23.4878Z' fill='white'/%3E%3Cpath d='M102.578 33.0198C105.224 33.0198 107.15 31.2701 107.15 28.8571C107.15 26.4441 105.231 24.6943 102.578 24.6943C99.9253 24.6943 98.0273 26.4441 98.0273 28.8571C98.0273 31.2701 99.9394 33.0198 102.578 33.0198ZM102.578 26.5217C104.109 26.5217 105.139 27.4601 105.139 28.8571C105.139 30.2541 104.088 31.1995 102.578 31.1995C101.068 31.1995 100.038 30.24 100.038 28.8571C100.038 27.4742 101.061 26.5217 102.578 26.5217Z' fill='white'/%3E%3Cpath d='M110.907 23.4878H108.84V40.6609H110.907V23.4878Z' fill='white'/%3E%3Cpath d='M107.929 34.7485C104.281 35.3129 99.9421 35.3129 97.3527 35.3129H97.2539L97.515 37.0768H97.5855C100.817 37.0768 104.556 37.0203 108.084 36.3218L108.162 36.3077L108.021 34.7273L107.929 34.7414V34.7485Z' fill='white'/%3E%3Cpath d='M125.121 34.1275H127.548V32.3989H117.684V30.2188H127.181V24.6943H115.638V26.4229H125.156V28.5114H115.673V34.1275H117.861V36.8862H113.867V38.6501H128.952V36.8862H125.121V34.1275ZM123.089 34.1275V36.8862H119.886V34.1275H123.089Z' fill='white'/%3E%3Cpath d='M135.726 27.9892V27.1355H138.477V25.3716H130.759V27.1355H133.729V27.9892C133.729 31.6298 132.53 34.3532 130.342 35.6585L130.258 35.7079L131.514 37.2883L131.577 37.246C133.087 36.3147 134.167 34.7483 134.787 32.5823C135.451 34.4943 136.509 35.8631 137.927 36.6674L137.991 36.7027L139.127 35.1576L139.183 35.08L139.098 35.0306C136.946 33.8805 135.719 31.3123 135.719 27.9821L135.726 27.9892Z' fill='white'/%3E%3Cpath d='M142.89 30.1976H141.253V23.8123H139.312V39.8566H141.253V31.9685H142.89V40.6468H144.844V23.4878H142.89V30.1976Z' fill='white'/%3E%3Cpath d='M151.708 34.5366H149.641V40.3292H160.901V38.5794H151.708V34.5366Z' fill='white'/%3E%3Cpath d='M157.008 32.4554L156.81 30.7268L156.719 30.7479C154.715 31.1854 152.93 31.27 149.952 31.2912V26.6487H155.406V24.8989H147.906V33.0551H149.324C152.619 33.0551 154.701 32.9634 156.944 32.4695L157.022 32.4554H157.008Z' fill='white'/%3E%3Cpath d='M160.245 28.3561V23.4878H158.191V35.9478H160.245V30.127H162.573V28.3561H160.245Z' fill='white'/%3E%3Cpath d='M8.5301 28.2996C6.37112 27.6294 4.50847 27.0579 4.50847 25.6397C4.50847 24.4614 5.50329 23.8476 7.35183 23.7347C9.99059 23.5725 12.8763 25.5762 12.8763 25.5762L14.492 22.5706C14.492 22.5706 11.564 19.9318 7.53528 20.0024C5.34807 20.0376 3.60536 20.6233 2.23659 21.6534C0.84666 22.6976 0.105833 24.1228 0.105833 25.7667C0.105833 29.7249 3.62653 30.8255 6.72389 31.7921C8.9746 32.4977 10.9219 33.1044 10.9219 34.6919C10.9219 35.9972 9.38382 37.0061 7.33772 37.0344C7.31656 37.0344 7.28833 37.0344 7.26717 37.0344C4.90357 37.0344 2.4412 35.3199 2.4412 35.3199L0 37.881C1.68627 39.6872 4.19097 40.6397 7.40828 40.6397C12.072 40.6397 15.3246 38.1068 15.3246 34.4803C15.3246 30.4092 11.5569 29.238 8.52305 28.3067L8.5301 28.2996Z' fill='white'/%3E%3Cpath d='M32.8288 19.9812C30.9944 19.9812 29.287 20.7432 28.2498 22.0132C27.2126 20.7361 25.5052 19.9812 23.6708 19.9812C19.9173 19.9812 17.3984 22.5706 17.3984 26.4229V40.4069H21.6741V26.4511C21.6741 24.7366 22.4855 23.7559 23.8966 23.7559C25.3077 23.7559 26.119 24.7366 26.119 26.4511V40.4069H30.3947V26.4511C30.3947 24.7366 31.2061 23.7559 32.6172 23.7559C34.0283 23.7559 34.8396 24.7366 34.8396 26.4511V40.4069H39.1153V26.4229C39.1153 22.5706 36.5965 19.9812 32.8429 19.9812H32.8288Z' fill='white'/%3E%3Cpath d='M43.7733 40.3927H55.9299C56.3603 39.2073 56.7201 37.9867 56.9953 36.7309H46.7366V20.228H42.4609V39.0309C42.4609 39.9058 42.9337 40.3856 43.7733 40.3856V40.3927Z' fill='white'/%3E%3Cpath d='M27.9552 3.88053C33.8888 3.83114 39.7308 5.84196 44.3804 9.53904C46.37 11.1195 48.3032 13.2361 49.6438 15.1411H54.2087C48.4867 5.40451 38.7219 0 28.1668 0H27.9269C17.2661 0.0917215 7.2896 5.8984 1.90625 15.5221H6.44999C11.3888 8.15616 19.3616 3.95108 27.9552 3.88053Z' fill='url(%23paint0_linear_153_2626)'/%3E%3Cpath d='M28.3778 56.1194C22.4441 56.1688 13.1167 53.9745 6.6821 44.8658C6.6821 44.8729 2.11719 44.8658 2.11719 44.8658C7.42998 54.2497 17.604 59.9999 28.1661 59.9999H28.406C39.0598 59.9152 49.0222 54.1085 54.4408 44.4778C54.4337 44.4778 49.8759 44.4919 49.8759 44.4778C45.3533 51.4768 36.9643 56.0559 28.3707 56.1264L28.3778 56.1194Z' fill='url(%23paint1_linear_153_2626)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_153_2626' x1='42.5671' y1='29.1039' x2='8.25621' y2='-5.20696' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.07' stop-color='white' stop-opacity='0'/%3E%3Cstop offset='0.12' stop-color='white' stop-opacity='0.14'/%3E%3Cstop offset='0.2' stop-color='white' stop-opacity='0.34'/%3E%3Cstop offset='0.28' stop-color='white' stop-opacity='0.52'/%3E%3Cstop offset='0.37' stop-color='white' stop-opacity='0.67'/%3E%3Cstop offset='0.46' stop-color='white' stop-opacity='0.79'/%3E%3Cstop offset='0.55' stop-color='white' stop-opacity='0.88'/%3E%3Cstop offset='0.65' stop-color='white' stop-opacity='0.95'/%3E%3Cstop offset='0.75' stop-color='white' stop-opacity='0.99'/%3E%3Cstop offset='0.88' stop-color='white'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_153_2626' x1='13.7588' y1='30.903' x2='48.0697' y2='65.2069' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.07' stop-color='white' stop-opacity='0'/%3E%3Cstop offset='0.12' stop-color='white' stop-opacity='0.14'/%3E%3Cstop offset='0.2' stop-color='white' stop-opacity='0.34'/%3E%3Cstop offset='0.28' stop-color='white' stop-opacity='0.52'/%3E%3Cstop offset='0.37' stop-color='white' stop-opacity='0.67'/%3E%3Cstop offset='0.46' stop-color='white' stop-opacity='0.79'/%3E%3Cstop offset='0.55' stop-color='white' stop-opacity='0.88'/%3E%3Cstop offset='0.65' stop-color='white' stop-opacity='0.95'/%3E%3Cstop offset='0.75' stop-color='white' stop-opacity='0.99'/%3E%3Cstop offset='0.88' stop-color='white'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_153_2626'%3E%3Crect width='163' height='60' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
			a {
				width: 98px;
				height: 37px;
				display: block;
			}
		}
		.btn-etc {
			display: flex;
			gap: 12px;
			.btn-search,
			.btn-menu {
				width: 36px;
				height: 36px;
				border-radius: 999px;
				border: 1px solid #d5d5d5;
			}
			.btn-search {
				background-size: 18px;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M11.2152 11.2094L15.75 15.75M12.75 7.5C12.75 10.3995 10.3995 12.75 7.5 12.75C4.60051 12.75 2.25 10.3995 2.25 7.5C2.25 4.60051 4.60051 2.25 7.5 2.25C10.3995 2.25 12.75 4.60051 12.75 7.5Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
			}
			.btn-menu {
				background-size: 24px;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10 18H20C20.55 18 21 17.55 21 17C21 16.45 20.55 16 20 16H10C9.45 16 9 16.45 9 17C9 17.55 9.45 18 10 18ZM3 7C3 7.55 3.45 8 4 8H20C20.55 8 21 7.55 21 7C21 6.45 20.55 6 20 6H4C3.45 6 3 6.45 3 7ZM10 13H20C20.55 13 21 12.55 21 12C21 11.45 20.55 11 20 11H10C9.45 11 9 11.45 9 12C9 12.55 9.45 13 10 13Z' fill='white'/%3E%3C/svg%3E");
			}
		}
	}
}

// 공통 footer
.box-footer {
	.inner {
		width: 100%;
		position: relative;
		padding: 32px 20px 60px;
		background: #7F8485;
		.ft-flex {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			position: relative;
		}
		.ft-top {
			padding-bottom: 32px;
			margin-bottom: 32px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.20);
			.list {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				position: relative;
				gap: 16px 0;
				li {
					width: 50%;
					height: 14px;
					a {
						display: block;
						width: 100%;
						height: 14px;
						color: rgba(255, 255, 255, 0.60);
						text-align: left;
						font-size: 14px;
						font-weight: 600;
						line-height: 14px;
						letter-spacing: -0.28px;
					}
					&.bold {
						a {
							color: #fff;
							font-weight: 700;
						}
					}
				}
			}
			.tel-num {
				color: #FFF;
				font-size: 18px;
				font-weight: 700;
				line-height: 120%; /* 21.6px */
				letter-spacing: -0.36px;
				margin-top: 36px;
			}
		}
		.ft-bottom {
			padding-bottom: 32px;
			.left {
				width: 100%;
				position: relative;
				.logo {
					width: 131px;
					height: 48px;
					position: relative;
					background: url(../images/logo/logo_white.png) no-repeat;
					background-size: contain;
					background-position: center;
				}
				.info-list {
					width: 100%;
					position: relative;
					top: 24px 0 32px;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px 0;
					li {
						color: rgba(255, 255, 255, 0.60);
						font-size: 12px;
						font-weight: 400;
						line-height: 12px;
						letter-spacing: -0.24px;
						text-transform: capitalize;
						&.bold {
							color: #fff;
						}
					}
				}
			}
		}
	}
}

// 공통 GUIDE
.box-wrap {
	.inner-wrap {
	}
}

// 공통 title
.common-title-1 {
}

// 공통 btn
.common-btn-1 {
}

// 공통 table
.common-table-1 {
}

// 공통 mixin include
@include imgHolder;

// main
.main-kv-swiper {
	.swiper-slide {
		position: relative;
		.box-text {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			* {
				text-align: center;
			}
			.text-1 {
				color: var(--primary-5, #fff);
				font-family: Pretendard;
				font-size: 18px;
				font-style: normal;
				font-weight: 600;
				line-height: 28.8px;
				letter-spacing: 0.36px;
			}
			.text-2 {
				color: var(--primary-5, #fff);
				font-family: Pretendard;
				font-size: 30px;
				font-style: normal;
				font-weight: 100;
				line-height: 120%;
				letter-spacing: -1.2px;
				strong {
					font-weight: 600;
					line-height: 36px;
					letter-spacing: -1.2px;
				}
			}
		}
	}
}

/* 1024 이상 */
@media all and (min-width: 1024px) {
}
/* //1024 이상 */
